html {
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px;
}

.form-2 {
  width: 200px;
}

button {
  width: 230px;
}

.form-edit {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  width: auto;
}
